        .chunk {
            background-color: #E0E0E0;
            display: inline-block;
        }
        .checkbox_anchor, .checkbox_pref {
           width: 28px;
           height: 28px;
           /*background: transparent url('{{ url_for('static', filename='img/icons.png') }}') no-repeat 0 0%*/
           background: transparent url('/static/img/icons.png') no-repeat 0 0%
        }
        .checkbox_pref {
           width: 36px;
           height: 12px;
           position: relative;
           left: -18px;
           background: transparent url('/static/img/icons.png') no-repeat 8px 95%
        }
        .checked_anchor{
           background: transparent url('/static/img/icons.png') no-repeat -35px 0%
        }
        .checked_pref{
           background: transparent url('/static/img/icons.png') no-repeat -28px 98%
        }