html {
  height: 100%;
}
body {
  font-family: 'museo300', sans-serif !important;
  text-align: center;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: url('../img/background.png');
  background-size: 100% 100%;
  overflow: hidden;
}
img.btn {
  width: 32px;
  padding: 0Px;
}