<div style="vertical-align: top;">
  <div class="col-sm-2" style="text-align: center;">
	  <div id="fwd"><img src="/static/img/arrow_up.png" class="btn"></div>
	  <div>
	    <span id="left"><img src="/static/img/arrow_ccw.png" class="btn" style="display: inline;"></span>
	    <span id="right"><img src="/static/img/arrow_cw.png" class="btn" style="display: inline;"></span>
	  </div>
	  <div id="back"><img src="/static/img/arrow_down.png" class="btn"></div>
  </div>
  <div class="col-sm-3"> 
  	<div>Distance: <input type="text" id="dist" value="10"> cm</div>
  	<div>Angle: <input type="text" id="angle" value="45"> °</div>
  </div>

  <div class="col-sm-3"> 
	<div id="pwr">Power on</div>
	<div id="reboot">Reboot</div>
	<div id="dock">Go to dock</div>

	<div id="li">Turn Lidar on</div>
	<div id="lo">Turn Lidar off</div>
	<div id="scan">Scan</div>
  </div>
</div>