<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Insightbot API</title>

    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/animate-animo.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/hover.css">
    <link rel="stylesheet" type="text/css" href="static/css/game.css">

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/sortable.min.js"></script>

    <script src="static/bundle.js"></script>

<body>
    <div class="leftpane" style="float: left; margin: 5Pt; border: solid 1Px #000; width: 150px; height: 100%">Left pane</div>
    <div class="rightpane" style="float: right; margin: 5Pt; border: solid 1Px #000; width: 150px; height: 100%">Right pane</div>
    <div id="content1">{{ content|safe }}</div>
    <div id="controls" style="margin: auto; text-align: center; width: 80%">{{ controls|safe }}</div>
    <div id="tooltip" style="position: fixed; bottom: 20Pt;left: 0; width: 100%; height: 16Pt;">Tooltip</div>
    <div id="status" style="position: fixed; bottom: 0Pt;left: 0; width: 100%; height: 20Pt;">Status</div>
</body>
</html>
